// Global variables
@img-root: "../img";


#radio-topper {
	background: #484e58 url('@{img-root}/background-image-test.jpg') no-repeat 50% 50%;
	background-size: cover;
	color: #ddd;
	
	h1 {
		padding-top: 113px;
		font: normal 54px Arial, Helvetica, sans-serif;
		margin: 0 0 11px 0;
		color: #fff;
		text-shadow: 1px 2px 10px rgba(32,32,32,.4);
	}
}


#radio {
	color: #FFF;
	background: #2c313a;
	padding: 11px 9px;
	margin: 0 0 22px 0;
	font-family:Arial,sans-serif;
	display:none;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
	border-top: 1px solid #22262d;
	border-bottom: 1px solid #353a44;
	
	#jwplayer_wrapper { float:left; margin: 0 10px 4px 4px; }
	#radio-htmlstream { display:none; height: 0; }
	#radio-htmlcontrol { display:none; background-image: url('@{img-root}/playButtonOver.png'); height:41px; width:41px; float:left; margin: 0 10px 4px 4px; }
	&.playing #radio-htmlcontrol { background-image: url('@{img-root}/pauseButtonOver.png')}
	
	#radio-feedback {
		background-repeat: no-repeat;
		background-image: url('@{img-root}/eq-none.gif');
		background-color: #2f343e;
		background-position: 5px;
		padding:4px 0 0 55px;
		height:14px;
		clear:left;
		font-size:12px;
		color:#999;
		line-height:11px;
		margin-top: 9px;
	}
	&.playing #radio-feedback { background-image: url('@{img-root}/eq2.gif'); background-repeat: no-repeat; background-position: 5px; }
	#radio-feedback #radio-feedback-message { display:none; }
	&.playing #radio-feedback #radio-feedback-message { display:inline; }

	#radio-feedback #radio-feedback-buffering { display:none; }
	&.buffering #radio-feedback #radio-feedback-buffering { display:inline; }
	
	#radio-title { font-size:12px; line-height:18px; color:#999; }
	#radio-prompt { font-size:16px; line-height:22px; font-weight:bold; }
}


#comingsoon { 
	position:relative; background: url('@{img-root}/coming-soon-bg-wide.png') no-repeat right bottom; height:62px; margin:55px 0 15px -12px; float:left; display:none;
	
	b { position:absolute; top:0; left:0; display:block; width:12px; height:6px; overflow:hidden; background: url('@{img-root}/coming-soon-upper-tab.png') no-repeat right bottom; }
	.message { font:bold 12px Arial; text-transform:uppercase; color:#FFF; padding:20px 35px 0 30px; }
}


body.audio #radio { display:block; }
body.no-audio #radio { display:none; }
body.comingsoon #comingsoon { display:block; }
body.not-coming #comingsoon { display:none; }

body.audio.comingsoon {
	#comingsoon { 
		margin: -12px 0 0 0; position: absolute; top: 0; left: 0; height: auto;

		b { display: none; }
		.message { padding-left: 15px; padding-top: 12px; padding-bottom: 12px; }
	}
	#radio #radio-feedback { clear: none; margin-top: 5px; }
}

body.audio.not-coming {}

body.no-audio.comingsoon {
	#comingsoon { 
		margin-top: 0;
		.message { padding-top: 22px; }
	}
}


@media (max-width: 767px) {
	#radio-topper { margin-left: -20px; margin-right: -20px; padding-right: 20px; padding-left: 20px; }
}
@media (max-width: 480px) {
	#radio-topper h1 { font-size: 40px; }
}