

#live-chat { clear: both; }

.chat-body-wrap { float: left; }
.chat-schedule-wrap { float: right; }

.chat-login,
.chat-anonymous-login,
.chat-npr-login,
.chat-editor {
    display: none;
}

.chat-body {
    height:500px;
    overflow-y:scroll;
    .chat-post {
        padding: 15px 0;
        border-top: 1px solid #dee2e7;
        border-top: 1px solid rgba(0,0,0,0.1);
        
        &:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }
        &.highlighted { 
        	background-color: #FBF1CD; padding-left: 15px;
        	p { margin-left: 65px; }
        }
    }
    .chat-post-author-photo {
        float:left;
        width: 50px;
        height: 50px;
        margin: 0;
        
        img { 
        	width: 100%; height: auto; 
        	display: block;
        	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
        	border: 1px solid #fff;
        }
    }
    p { 
    	margin: 0 0 0 61px;
    	font-size: 14px;
    	color: #444;
    }
    p.chat-post-info {
    	color: #777;
    	line-height: 16px;
    	font-size: 12px;
    	margin-bottom: 0;

		.chat-post-author { font-weight: bold; color: #444; }
		.chat-post-datetime { font-size: 95%; }
		.bullet { padding: 0 3px; font-size: 75%; color: #ccc; line-height: 1.4; }
    }
	p.chat-post-content {
		margin-bottom: 0;
		line-height: 22px;
	}

    .chat-show-more {
        display: none;
    }
}

.chat-user-entry {
	background-color: #ebebeb;
	border-top: 1px solid #ddd;
	width: 848px; /* 870 - 22 */
	padding: 11px 22px 5px 22px;
	margin-left: -11px;
	border-radius: 4px 4px 0 0;
	
	&.affix { bottom: 0; }
	h4 { 
		font: normal 18px/44px Arial, Helvetica, sans-serif;
		color: #666;
		float: left;
		margin-right: 33px;
	}
	.form-inline { 
		float: left;
		width: auto;

		&:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }
		label {
			font-weight: bold;
			font-size: 13px;
			float: left;
			margin-right: 11px;
			line-height: 44px;
		}
		.social.btn-group {
			float: left;
			margin-right: 22px;
			
			.btn { margin-left: 1px; border-radius: 0; }
			.btn:first-child { margin-left: 0; }
			.disabled { background-color: #ccc; }
		}
		.register-npr {
			float: left;
			font-size: 12px;
			line-height: 44px;
		}
		.chat-npr-login { clear: both; }
		input[type='text'], input[type='password'] {
			width: 150px;
		}
	}
}

.chat-schedule {
	padding-top: 22px;
	
    h3 {
    	font: normal 18px/1.2 Arial, Helvetica, sans-serif;
    	color: #666;
    	margin: 0 0 11px 0;
    }
    h5 {
    	font: bold 14px/1.2 Arial, Helvetica, sans-serif;
    	color: #999;
    	margin: 0 0 11px 0;
    	border-top: 2px solid #ebebeb;
    	padding-top: 22px;
    }
    ul { list-style: none; padding: 0; margin: 0 0 22px 0; }
    ul > li { margin: 0 0 11px 0; }
    a { font-weight: bold; }
}


// Media queries
@media (min-width: 1200px) {
}
@media (max-width: 979px) {
}
@media (max-width: 767px) {
}
@media (max-width: 480px) {
}
