.chat-login,
.chat-anonymous-login,
.chat-npr-login,
.chat-editor {
    display: none;
}

.chat-body {
    height:1000px;
    overflow-y:scroll;
    .chat-post {
        padding: 15px 0;
        border-top: 1px solid #dee2e7;
        border-top: 1px solid rgba(0,0,0,0.1);
        
        &:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }
        &.highlighted { 
        	background-color: #FBF1CD; padding-left: 15px;
        	p { margin-left: 65px; }
        }
    }
    .chat-post-author-photo {
        float:left;
        width: 50px;
        height: 50px;
        margin: 0;
        
        img { 
        	width: 100%; height: auto; 
        	display: block;
        	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
        	border: 1px solid #fff;
        }
    }
    p { 
    	margin: 0 0 0 61px;
    	font-size: 14px;
    	color: #444;
    }
    p.chat-post-info {
    	color: #777;
    	line-height: 16px;
    	font-size: 12px;
    	margin-bottom: 0;

		.chat-post-author { font-weight: bold; color: #444; }
		.chat-post-datetime { font-size: 95%; }
		.bullet { padding: 0 3px; font-size: 75%; color: #ccc; line-height: 1.4; }
    }
	p.chat-post-content {
		margin-bottom: 0;
		line-height: 22px;
	}
}
