<div class="modal-wrap <%= category %>">
    <div class="modal-nav">
        <div class="modal-controls-wrapper">
            <a href="javascript:;" class="navigate nav-back <% if (previous === null) { %>disabled<% } else { %>active<% } %>" data-category="<%= category %>" data-photo="<%= previous %>"><span>&lsaquo; Previous</span></a>
            <a href="javascript:;" class="navigate nav-next <% if (next === null) { %>disabled<% } else { %>active<% } %>" data-category="<%= category %>" data-photo="<%= next %>"><span>Next &rsaquo;</span></a>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <div class="modal-photo">
            <img src="<%= photo_url %>" class="photo" />
        </div>

        <div class="modal-caption">
            <ul class="post_info social">
                <div class="modal-controls-wrapper">
                    <li class="share">Share This Postcard</li>
                    <li class="facebook">
                      <a rel="external" href="https://www.facebook.com/dialog/feed?app_id=138837436154588&link=<%= photo.url %>&picture=<%= photo.photo_url_250 %>&name=Dear Mr. President&caption=Dear%20Mr.%20President%2C%20Please%20don't%20forget%20______.%20Send%20your%20postcard.&description=&redirect_uri=http://apps.npr.org/inauguration" alt="Share on Facebook" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Facebook In Post', 'Dear Mr President']);" title="Like This Page On Facebook"><span></span>Facebook</a>
                    </li>
                    <li class="twitter"><a rel="external" href="http://twitter.com/share?text=Dear+Mr.+President%2C+Please+don%27t+forget...+%23inauguration&amp;url=<%= photo.url %>" alt="Share on Twitter" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Twitter In Post', 'Dear Mr President']);" title="Share This Page On Twitter"><span></span>Twitter</a></li>
                    <div class="clearfix"></div>
                </div>
            </ul>
            <a class="timestamp-link" href="<%= photo.url %>" target="_blank"><abbr class="timeago" data-time="<%= photo.timestamp %>000"></abbr><span class="note-count">, <%= photo.note_count %> notes</span></a>
            <%= photo.text %>
        </div>
    </div>
</div>
