<div id="live-chat">
    <div>
        <h2 id="live-chat-title"></h2>
        <h4 id="live-chat-blurb"></h4>
    </div>
    <div id="live-chat-body" ></div>
    <div id="live-chat-form">
        <h4>Have your say<span>.</span></h4>
        <div id="live-chat-form" class="form-inline login" style="display:none;">
            <a href="http://www.npr.org/templates/reg/" target="_blank">
                Register with NPR</a><br/>
            <div class="social btn-group">
                <button class="btn btn-mini npr">NPR</button>
                <button class="btn btn-mini oauth" data-service="facebook">Facebook</button>
                <button class="btn btn-mini oauth" data-service="google">Google</button>
                <button class="btn btn-mini anon">Anonymous</button>
            </div>
            <label style="display:none;" class="anon">Chat name
                <input type="text" id="live-chat-anonymous-username"></input>
            </label>
            <button id="live-chat-anonymous-login" class="btn btn-mini btn-info" style="display:none;">Login</button>
            <label style="display:none;" class="npr">NPR username
                <input type="text" id="live-chat-npr-username"></input>
            </label>
            <label style="display:none;" class="npr">NPR password
                <input type="password" id="live-chat-npr-password"></input>
            </label>
            <button id="live-chat-npr-login" class="btn btn-mini btn-info" style="display:none;">Login</button>
        </div>
        <div id="live-chat-alerts"></div>
        <textarea id="live-chat-content" class="logout" style="display:none;"></textarea>
        <br/>
        <button id="live-chat-button" class="btn btn-mini btn-success logout" style="display:none;">Post comment</button>
        <button id="live-chat-logout" class="btn btn-mini btn-warning logout" style="display:none;">Logout</button>
        <button id="live-chat-clear" class="btn btn-mini btn-danger logout" style="display:none;">Clear text</button>
    </div>
</div>
