<div id="live-chat">
    <div>
        <h2 id="live-chat-title"></h2>
        <h4 id="live-chat-blurb"></h4>
    </div>
    <div id="live-chat-body" ></div>
    <div id="live-chat-login">
        <h4>Have your say!</h4>
        <div class="form-inline">
            <a href="http://www.npr.org/templates/reg/" target="_blank">Register with NPR</a><br/>
            <div class="social btn-group">
                <button class="btn btn-mini npr">NPR</button>
                <button class="btn btn-mini oauth" data-service="facebook">Facebook</button>
                <button class="btn btn-mini oauth" data-service="google">Google</button>
                <button class="btn btn-mini anon">Anonymous</button>
            </div>

            <div id="live-chat-anonymous-login">
                <label class="anon">Chat name
                    <input type="text" id="live-chat-anonymous-username"></input>
                </label>
                <button id="live-chat-anonymous-login-button" class="btn btn-mini btn-info">Login</button>
            </div>

            <div id="live-chat-npr-login">
                <label class="npr">NPR username
                    <input type="text" id="live-chat-npr-username"></input>
                </label>
                <label class="npr">NPR password
                    <input type="password" id="live-chat-npr-password"></input>
                </label>
                <button id="live-chat-npr-login-button" class="btn btn-mini btn-info">Login</button>
            </div>
        </div>
    </div>
    <div id="live-chat-alerts"></div>
    <div id="live-chat-editor">
        <h4>Type your comment below, <span id="live-chat-username"></span>.</h4>
        <textarea id="live-chat-content"></textarea>
        <br/>
        <button id="live-chat-button" class="btn btn-mini btn-successt">Post comment</button>
        <button id="live-chat-logout" class="btn btn-mini btn-warning">Logout</button>
        <button id="live-chat-clear" class="btn btn-mini btn-danger">Clear text</button>
    </div>
</div>
