<div id="photo-feed">

	<div class="photo-section">
		<h2>Latest</h2>
		<div class="wrapper">
			<div id="photos-latest" class="photo-list"></div>
		</div>
		<button id="button-latest">&rarr;</button>
		<div id="tumblrlink-latest" class="tumblrlink"><a href="http://{{ TUMBLR_BLOG_ID }}.tumblr.com/#posts">View all photos &rarr;</a></div>
	</div>

	<div class="photo-section">
		<h2>NPR's Picks</h2>
		<div class="wrapper">
			<div id="photos-nprpicks" class="photo-list"></div>
		</div>
		<button id="button-nprpicks">&rarr;</button>
		<div id="tumblrlink-nprpicks" class="tumblrlink"><a href="http://{{ TUMBLR_BLOG_ID }}.tumblr.com/tagged/nprpicks">View all photos &rarr;</a></div>
	</div>

	<div class="photo-section">
		<h2>I voted for you</h2>
		<div class="wrapper">
			<div id="photos-ivotedforyou" class="photo-list"></div>
		</div>
		<button id="button-ivotedforyou">&rarr;</button>
		<div id="tumblrlink-ivotedforyou" class="tumblrlink"><a href="http://{{ TUMBLR_BLOG_ID }}.tumblr.com/tagged/ivotedforyou">View all photos &rarr;</a></div>
	</div>

	<div class="photo-section">
		<h2>I didn't vote for you</h2>
		<div class="wrapper">
			<div id="photos-ididntvoteforyou" class="photo-list"></div>
		</div>
		<button id="button-ididntvoteforyou">&rarr;</button>
		<div id="tumblrlink-ididntvoteforyou" class="tumblrlink"><a href="http://{{ TUMBLR_BLOG_ID }}.tumblr.com/tagged/ididntvoteforyou">View all photos &rarr;</a></div>
	</div>

	<div class="photo-section">
		<h2>I'd rather not say how I voted</h2>
		<div class="wrapper">
			<div id="photos-idrathernotsayhowivoted" class="photo-list"></div>
		</div>
		<button id="button-idrathernotsayhowivoted">&rarr;</button>
		<div id="tumblrlink-idrathernotsayhowivoted" class="tumblrlink"><a href="http://{{ TUMBLR_BLOG_ID }}.tumblr.com/tagged/idrathernotsayhowivoted">View all photos &rarr;</a></div>
	</div>

	<div class="photo-section">
		<h2>I didn't vote</h2>
		<div class="wrapper">
			<div id="photos-ididntvote" class="photo-list"></div>
		</div>
		<button id="button-ididntvote">&rarr;</button>
		<div id="tumblrlink-ididntvote" class="tumblrlink"><a href="http://{{ TUMBLR_BLOG_ID }}.tumblr.com/tagged/ididntvote">View all photos &rarr;</a></div>
	</div>

</div>
