<div id="mr-president-wrap">
    <h2>Dear Mr. President ...</h2>
    <h4>Tell the President what you want him to do in his second term.</h4>
    <div id="mr-president" data-mr-president-id="75176" data-mr-president-token="FtP7wRfX"></div>
    <div id="mr-president-alerts"></div>
    <div id="mr-president-form">
        <textarea id="mr-president-message"></textarea>
        <label>Name
            <input type="text" id="mr-president-name"></input>
        </label>
        <label>Location
            <input type="text" id="mr-president-location"></input>
        </label>
        <label>Favorite cheese
            <input type="text" id="mr-president-cheese"></input>
        </label>
        <label>Favorite Vice-President
            <input type="text" id="mr-president-veep"></input>
        </label>
    </div>
</div>