<div class="mr-president-form">
	<form action="/misterpresident/" method="post" enctype="multipart/form-data">
		<ol>
			<li>
				<ul>
					<li><input type="radio" name="voted" value="i-voted-for-you">I voted for you.</li>
					<li><input type="radio" name="voted" value="i-didnt-vote-for-you">I didn't vote for you.</li>
					<li><input type="radio" name="voted" value="i-didnt-vote">I didn't vote.</li>
					<li><input type="radio" name="voted" value="its-none-of-your-business">It's none of your business.</li>
				</ul>
			</li>
			<li>
				<label for="image">Please don't forget:</label>
				<input type="file" name="image" accept="image/gif,image/jpeg,image/jpg,image/png">
				<div class="instructions">Upload a photo of yourself holding a sign with a key word or phrase you want the president to remember. (<a href="">Example</a>)</div>
			</li>
			<li>
				<label for="message">Because:</label>
				<textarea name="message"></textarea>
			</li>
			<li>
				<label for="signed_name">Signed:</label>
				<input type="text" name="signed_name" value="Chris Q. Everyperson"></input>
				<input type="text" name="location" value="Washington, DC"></input>
			</li>
        </ol>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
