<div id="photo-feed">
	<div class="photo-section">
		<h2>Most popular</h2>
        <div id="photos-mostpopular" class="slides" data-category="mostpopular">
        </div>
	</div>

	<div class="photo-section">
		<h2>I voted for you</h2>
        <div id="photos-ivotedforyou" class="slides" data-category="ivotedforyou">
        </div>
	</div>

	<div class="photo-section">
		<h2>I didn't vote for you</h2>
        <div id="photos-ididntvoteforyou" class="slides" data-category="ididntvoteforyou">
        </div>
	</div>

	<div class="photo-section">
		<h2>I'd rather not say how I voted</h2>
        <div id="photos-idrathernotsayhowivoted" class="slides" data-category="idrathernotsayhowivoted">
        </div>
	</div>

	<div class="photo-section">
		<h2>I didn't vote</h2>
        <div id="photos-ididntvote" class="slides" data-category="ididntvote">
        </div>
    </div>

</div>

<div id="photo-modal" class="imgmodal modal hide" tabindex="-1">
</div>
