<script type="text/javascript" src="https://s.npr.org/templates/javascript/jwplayer/jwplayer.js"></script>

<div id="comingsoon">
    <b></b>
    <div id="comingsoon-message" class="message"></div>
</div>

<div id="radio">
    <div id="jwplayer"></div>
    <audio id='radio-htmlstream'></audio>
    <div id="radio-htmlcontrol"></div>
    <div id="radio-title"></div>
    <div id="radio-prompt"></div>
    <div id="radio-feedback"><span id="radio-feedback-message"></span><span id="radio-feedback-buffering">Loading...</span></div>
</div>

