<!DOCTYPE html>
<html lang="en">

<head>
{{ CSS.push('less/external-widget.less') }}
{{ CSS.render('css/external-widget.min.css') }}

{{ JS.push('js/lib/jquery-1.8.3.js') }}
{{ JS.render('js/app-header.min.js') }}
</head>
<body>
<a href="http://apps.npr.org/inauguration-2013/">
	<div class="header">
		<h1>NPR Inauguration 2013</h1>
	</div>
    <div class="col">
        <div><p>We have coverage of the 2013 inauguration. This will happen in 2013 and we will cover it.</p></div>
    </div>
    <div class="col">
        <h2>Live Audio</h2>
        <div><p>We have live audio which is live and also audio. This audio will be live. And it will have volume.</p></div>
    </div>
    <div class="col">
        <h2>Live Chat</h2>
        <div id="live-chat-widget"></div>
    </div>
</a>

{{ JS.push('js/lib/underscore.js') }}
{{ JS.push('js/chat-widget.js') }}
{{ JS.push('js/external-widget.js') }}
{{ JS.render('js/app-footer.min.js') }}
</body>
</html>