<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dear Mr. President | NPR</title>
	<meta http-equiv="X-UA-Compatible" content="IE=8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <base target="_top" />

	{{ CSS.push('less/external-widget.less') }}
	{{ CSS.render('css/external-widget.min.css') }}
	
	{{ JS.push('js/lib/jquery-1.8.3.js') }}
	{{ JS.render('js/external-app-header.min.js') }}
</head>
<body>
<a href="http://apps.npr.org/inauguration/">
	<div class="header">
		<h1><span class="npr">NPR</span> Inauguration 2013</h1>
	</div>
	<div class="wrapper">
		<div class="col">
			<div class="wrap">
				<h2>Chat With Us</h2>
                <div id="live-chat-widget-wrapper">
                    <div id="live-chat-widget"></div>
                </div>
				<p>Talk with NPR reporters about President Obama's second term starting at 11 a.m. ET.</p>
			</div>
		</div>
		<div class="col">
			<div class="wrap">
				<h2>Streaming Audio</h2>
				<div class="live-audio-img"></div>
				<p>Audio begins at 5 a.m. ET with <em>Morning Edition</em>, followed by special coverage and <em>All Things Considered</em>.</p>
			</div>
		</div>
		<div class="col">
			<div class="wrap">
				<h2>Live Coverage</h2>
				<ul>
					<li><span><strong>5 a.m. ET:</strong> <em>Morning Edition</em></span></li>
					<li><span><strong>10 a.m. ET:</strong> NPR special coverage begins</span></li>
					<li><span><strong>11:30 a.m. ET:</strong> Swearing-in and speech</span></li>
					<li><span><strong>2:35 p.m. ET (approx.):</strong> Parade</span></li>
					<li><span><strong>7 p.m. ET:</strong> Inauguration wrapup special</span></li>
				</ul>
			</div>
		</div>
    </div>
</a>

{{ JS.push('js/lib/underscore.js') }}
{{ JS.push('js/lib/moment.js') }}
{{ JS.push('js/templates.js') }}
{{ JS.push('js/chat-widget.js') }}
{{ JS.push('js/external-widget.js') }}
{{ JS.render('js/external-app-footer.min.js') }}
</body>
</html>
