<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inauguration 2013 : NPR</title>
	<meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <base target="_top" />

    {{ CSS.push('less/hp.less') }}
    {{ CSS.render('css/hp.min.css') }}

    <base target="_top" />
</head>
<body>

<div id="hpMrPresident">
	<div class="col">
		<h3><a href="http://apps.npr.org/inauguration/">Dear Mr. President</a></h3>
		<p>What do you want Obama to remember in his second term?</p>
		<p class="more"><a href="http://apps.npr.org/inauguration/">Send Us Your Postcard</a></p>
	</div>

	<div class="col img">
		<a href="http://apps.npr.org/inauguration/" class="img1"></a>
	</div>
	<div class="col img">
		<a href="http://apps.npr.org/inauguration/" class="img2"></a>
	</div>
	<div class="col img">
		<a href="http://apps.npr.org/inauguration/" class="img3"></a>
	</div>
</div>

</body>
</html>
