<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inauguration 2013 : NPR</title>
	<meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <base target="_top" />

    {{ CSS.push('less/hp.less') }}
    {{ CSS.render('css/hp.min.css') }}

    <base target="_top" />
</head>
<body>

	<div id="schedule">
		<h3><a href="http://apps.npr.org/inauguration/#chat">Coming Up</a></h3>
		<ul>
			<li><strong>11 a.m. ET</strong><br />
				Live Inauguration chat on NPR.org. 
				<!--
				<a href="http://apps.npr.org/inauguration/#chat">Submit questions &rsaquo;</a>
				-->
			</li>
			<li><strong>11:30 a.m. ET</strong><br />
				Swearing-in ceremony and inaugural address</li>
			<li><strong>2:35 p.m. ET (approx)</strong><br />
				Inaugural parade</li>
			<li><strong>6 p.m. ET</strong><br />
				Inaugural balls begin</li>
		</ul>
	</div>

</body>
</html>
