{% extends '_base.html' %}

{% block extra_css %}
    {{ CSS.push('less/app-radio.less') }}
    {{ CSS.push('less/chat.less') }}
    {{ CSS.push('less/app-mr-president.less') }}
{% endblock %}

{% block extra_head %}
    <script charset="utf-8" src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
{% endblock %}

{% block top_content %}
    <h1>Inauguration 2013</h1>
    {% include '_radio.html' %}
	<div id="live-chat-widget"></div>
{% endblock %}

{% block main_content %}
	<div id="toggles">
		<div class="container">
			<div class="row">
				<div class="span12">
					<ul>
						<li id="mr-president-toggle" class="selected">
							<span>
								<h3>Send A Postcard To The President</h3>
							</span>
						</li>
						<li id="chat-toggle">
							<span>
								<h3>LIVE NOW: Inauguration Chat</h3>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
    <div id="live-chat" style="display:none;"></div>

	<div id="mr-president">
		<div class="hdr mr-president-hdr">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h2 class="mr-president-title">Dear Mr. President</h2>
						<h4 class="mr-president-blurb">President Obama will soon be sworn into office, and whether you voted for him or not, he's everybody's president. What do you want him to remember in his second term? We will feature your responses in our inauguration coverage!</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="span12">
					{% include '_mr_president.html' %}
					{% include '_mr_president_photo_feed.html' %}
				<div>
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_foot_js %}
    {{ JS.push('js/auth.js') }}
    {{ JS.push('js/app-radio.js') }}
    {{ JS.push('js/app-photo-feed.js') }}
    {{ JS.push('js/chat.js') }}
    {{ JS.push('js/chat-widget.js') }}
{% endblock %}
