{% extends '_base.html' %}

{% block extra_css %}
    {{ CSS.push('less/app-radio.less') }}
    {{ CSS.push('less/app-backchannel.less') }}
    {{ CSS.push('less/chat.less') }}
{% endblock %}

{% block extra_head %}
    <script charset="utf-8" src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <h1>Inauguration 2013</h1>
    {% include '_radio.html' %}
    <div id="live-chat"></div>
{% endblock %}

{% block extra_foot_js %}
    {{ JS.push('js/auth.js') }}
    {{ JS.push('js/app-radio.js') }}
    {{ JS.push('js/app-river.js') }}
    {{ JS.push('js/app-backchannel.js') }}
    {{ JS.push('js/chat.js') }}
{% endblock %}
