{% extends '_base.html' %}

{% block extra_css %}
    {{ CSS.push('less/chat.less') }}
{% endblock %}

{% block extra_head %}
    <script charset="utf-8" src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <h1>Inauguration 2013</h1>
    <div id="live-chat-widget"></div>
    {% include '_radio.html' %}
    <h2>Dear Mr. President ...</h2>
    <h4>Tell the President what you want him to do in his second term.</h4>
    {% include '_mr_president.html' %}

    <button class="live-chat-toggle">Turn on live chat.</button>
    <div id="live-chat" style="display:none;"></div>

    <div id="photo-feed">
        <h2>Latest</h2>
        <div id="photos-latest" class="photo-list"></div>
        <button id="button-latest">&rarr;</button>

        <h2>NPR's Picks</h2>
        <div id="photos-nprpicks" class="photo-list"></div>
        <button id="button-nprpicks">&rarr;</button>

        <h2>I voted for you</h2>
        <div id="photos-ivotedforyou" class="photo-list"></div>
        <button id="button-ivotedforyou">&rarr;</button>

        <h2>I didn't vote for you</h2>
        <div id="photos-ididntvoteforyou" class="photo-list"></div>
        <button id="button-ididntvoteforyou">&rarr;</button>

        <h2>I'd rather not say how I voted</h2>
        <div id="photos-idrathernotsayhowivoted" class="photo-list"></div>
        <button id="button-idrathernotsayhowivoted">&rarr;</button>

        <h2>I didn't vote</h2>
        <div id="photos-ididntvote" class="photo-list"></div>
        <button id="button-ididntvote">&rarr;</button>
    </div>
{% endblock %}

{% block extra_foot_js %}
    {{ JS.push('js/auth.js') }}
    {{ JS.push('js/app-radio.js') }}
    {{ JS.push('js/app-photo-feed.js') }}
    {{ JS.push('js/chat.js') }}
    {{ JS.push('js/chat-widget.js') }}
{% endblock %}
