<!DOCTYPE html>
<html lang="en">

<head>
    <title>Inauguration 2013</title>
    <style type="text/css">
        iframe { border-width:0; overflow:hidden; }
    </style>
</head>
<body>

<h1>620x250</h1>
<script type="text/javascript">
    nprInaugurationWidth = 620;
    nprInaugurationHeight = 250;
</script>
<script type="text/javascript" src="/js/widget.js?"></script>

<h1>300x500</h1>
<script type="text/javascript">
    nprInaugurationWidth = 300;
    nprInaugurationHeight = 500;
</script>
<script type="text/javascript" src="/js/widget.js?"></script>

<h1>960x230</h1>
<script type="text/javascript">
    nprInaugurationWidth = 960;
    nprInaugurationHeight = 230;
</script>
<script type="text/javascript" src="/js/widget.js?"></script>

</body>
</html>
