body {
  margin: 0;
  padding: 20px;
  font: 14px/1.5 Arial, Helvetica, sans-serif;
  color: #111;
  background-color: #fff;
}
a {
  color: #4774cc;
  text-decoration: none;
}
a:hover {
  color: #bccae5;
}
.mr-president-form form {
  margin: 0;
  padding: 0;
}
.mr-president-form ul,
.mr-president-form ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mr-president-form li:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
.mr-president-form ol > li {
  padding: 0;
  margin-bottom: 25px;
}
.mr-president-form ul > li {
  padding: 0;
  margin: 0 0 10px 0;
}
.mr-president-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.mr-president-form .instructions {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
}
.mr-president-form textarea {
  width: 100%;
  height: 100px;
  font: 13px/1.5 Arial, Helvetica, sans-serif;
  color: #111;
}
.mr-president-form input {
  font: 13px/1.5 Arial, Helvetica, sans-serif;
  color: #111;
}
.mr-president-form input[type='text'] {
  padding: 5px 10px;
}
.mr-president-form input[type='radio'] {
  margin-right: 10px;
}
.mr-president-form img.sample-photo {
  float: left;
  margin-right: 10px;
}
.mr-president-form button[type='submit'] {
  background-color: #7598c9;
  border: none;
  line-height: 45px;
  height: 45px;
  color: #fff;
  padding: 0 20px;
  font-size: 12px;
  cursor: pointer;
}
.mr-president-form button[type='submit']:hover {
  opacity: 0.7;
}
@media (min-width: 768px) {
  .mr-president-form li.form-photo {
    width: 45%;
    float: left;
  }
  .mr-president-form li.form-message {
    width: 45%;
    float: right;
  }
  .mr-president-form li.form-signature {
    clear: both;
  }
}
