#backchannel-head {
  margin-bottom: 9px;
}
#backchannel-head h2 {
  margin-bottom: 3px;
}
#backchannel-head h3 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  color: #999;
  font-size: 13px;
}
#backchannel .post:first-child {
  border-top: none;
}
#backchannel .post {
  border-top: 1px dotted #ccc;
  padding: 10px 0;
  clear: both;
  display: none;
}
#backchannel .post a {
  color: #000;
  font: 13px/1.2em Arial;
}
#backchannel .post.quote a {
  font-size: 20px;
  font-family: Georgia, serif;
}
#backchannel p {
  font: 13px/1.2em Arial;
}
#backchannel .themedia {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
#backchannel .tstamp {
  font: 12px Arial;
  color: #999;
}
#backchannel p.more {
  padding: 10px 0 0 0;
  border-top: 1px dotted #CCC;
  font-size: 12px;
  text-align: right;
}
#backchannel p.more a {
  color: #333;
  font-weight: bold;
  background: transparent url(http://media.npr.org/chrome/news/ico-more-sm.gif) no-repeat scroll right center;
  padding: 0 10px 0 0;
}
