body {
  background-color: #eee;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  color: #333;
  text-transform: none;
}
.wrapper {
  padding: 11px;
}
div.col {
  width: 31%;
  float: left;
  padding: 1%;
  min-width: 90px;
}
h5 {
  margin: 0;
  padding: 5px 0;
  font-size: 16px;
}
h5:hover {
  color: red;
}
