body {
  font: 12px/1.35em Arial, Helvetica, sans-serif;
  color: #555;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, serif;
  margin: 0 0 9px 0;
  line-height: 1.35em;
}
p {
  margin: 0;
}
a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
a:hover,
a:active {
  color: #36c;
  text-decoration: underline;
}
h3 {
  font-size: 16px;
  color: #EE1300;
  text-transform: lowercase;
  margin-bottom: 9px;
}
h3 a {
  color: #EE1300;
}
h4 {
  font: normal 11px Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #555;
  margin-bottom: 9px;
}
p {
  margin-bottom: 10px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul > li {
  margin-bottom: 9px;
}
#live,
#chat-update {
  margin-bottom: 18px;
}
#on-air {
  background-color: #f1f1f1;
  padding: 10px 10px 10px 15px;
  margin: 0;
}
#on-air a {
  display: block;
  padding-left: 20px;
  background: transparent url('../img/ico-audio.png') no-repeat left 1px;
}
#on-air a span {
  font-weight: normal;
  color: #555;
}
#chat-update {
  font-style: italic;
}
#chat-update .heading {
  display: none;
}
#chat-update .author {
  font-weight: bold;
}
p.more {
  margin-top: 12px;
}
p.more a {
  display: block;
  background: url(http://media.npr.org/chrome/news/ico-more-sm.gif) no-repeat right center;
  padding: 0 10px 0 0;
  font-weight: bold;
  text-transform: lowercase;
  text-align: right;
}
#hpLeftColumn {
  width: 138px;
  padding-left: 15px;
}
#hpLeftColumn #on-air {
  margin: 0 -10px 18px -15px;
}
#hpMrPresident {
  border-top: 1px dotted #CCC;
  padding-top: 18px;
  margin-left: 15px;
}
#hpMrPresident:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
#hpMrPresident .col {
  width: 138px;
  margin-left: 24px;
  float: left;
}
#hpMrPresident .col:first-child {
  margin-left: 0;
}
#hpMrPresident .col.img a {
  display: block;
  width: 138px;
  height: 103px;
  background-image: url('../img/hp-promo-mr-president.jpg');
  background-repeat: no-repeat;
}
#hpMrPresident .col.img a:hover {
  opacity: 0.7;
}
#hpMrPresident .col.img a.img1 {
  background-position: 0 0;
}
#hpMrPresident .col.img a.img2 {
  background-position: -162px 0;
}
#hpMrPresident .col.img a.img3 {
  background-position: -324px 0;
}
#hpLeftColumn h3,
#hpMrPresident h3 {
  border-left: 5px solid #EE1300;
  margin-left: -15px;
  padding-left: 10px;
}
